* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* COMMON FORMATTING */
.centered {
  text-align: center;
}
.circle-edge {
  border-radius: 55%;
}

.mar-left{
  margin-left: 420px;
}


/*HEADER FUNCTIONS FORMATTING*/
.header-title{
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 11px;
  color: white;
}

header {
  background-image: url("./assets/images/drums.jpg");
  background-position: top;
  background-attachment: fixed; /*rolling affect coupled with hero*/
  background-position: 25%;
  margin: 0 0 15px 0;
  padding: 15px;
  display: flex; /* flex h1 and nav children elements*/
  justify-content: space-between; /*pushes space between h1 and nav*/
  /* flex-wrap: wrap; moves nav onto next line */
  background-size: cover;
  width: 100%;
  border-bottom: solid white;
  border-radius: 10px;
}

/*NAV BAR FORMATTING*/
header nav {
  background-color: rgba(0, 0, 0, 0);
  margin: 10px 10px;
}

header nav ul {
  background-color: rgba(153, 7, 7, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  background-color: rgba(0, 0, 0, 0);
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}

header nav ul li a:hover {
  background: white;
  color: rgb(6, 71, 6);
  border-radius: 10px;
  text-shadow: none;
  margin: 0 30px;
}

/*HERO FORMATTING*/
.hero {
  background-image: url("./assets/images/drums.jpg");
  background-attachment: fixed; /*rolling affect coupled with header*/
  height: 250px;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}
  
  /* ABOUT FORMATTING */
.bio {
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin-top: 15px;
  background-image: url("./assets/images/drums.jpg");
  background-position: 80%;
  background-size: cover;
  background-attachment: fixed;
}

.bio-title {
  background-color: rgba(255, 255, 255, 0.699);
  color:black;
  margin:50px 600px;
  border-radius: 10px;
}

.bio-para {
  background-color: rgba(255, 255, 255, 0.699);
  color:black;
  margin: 0px 200px 15px 500px;
  border-radius: 10px;
  font-size: large;
}

.bio-paratwo {
  background-color: rgba(255, 255, 255, 0.699);
  color:black;
  margin:0px 500px 0px 200px;
  border-radius: 10px;
  font-size: large;
}

/*format picture into circle*/
.bio img {
  border-radius: 50%;
  margin-top: 10px;
  opacity: 0.25;
  width: 50%;
  margin-bottom: 50px;
}

/*create fade effect*/
.bio img:hover {
  opacity: 1;
}

  /* SKILLS STYLING */
.skillz {
  background-image: url("./assets/images/drums.jpg");
  background-position: 80%;
  background-attachment: fixed;
  background-size: cover;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin: 0px 25px;
}

.skillz-title {
  color: white;
  width: fit-content;
  margin-left: 525px;
  border-radius: 10px;
  padding: 0px 15px;
}

.skillz img {
  margin-left: 180px;
  margin-top: 5px;
  border-radius: 10px;
}

  /* FILLER STYLING */
.fillerone {
  border-radius: 10px;
  background-image: url("./assets/images/drums.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  background-position: 80%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 400px;
}

.fillertwo {
  border-radius: 10px;
  background-image: url("./assets/images/drums.jpg");
  background-size: cover;
  background-attachment: fixed; /*rolling affect coupled with header*/
  background-position: 80%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 400px;
  margin-right: 50px;
}

/* FOOTER STYLING */
.footer {
  background-color: rgba(255, 255, 255, 0.966);
  border-radius: 10px;
  text-align: center;
  margin: 0px 10px 15px 10px;
}